   <header class="top-nav">
      <div class="brand-section">
         <div class="logo">Ecoffee</div>
         <ul class="nav-list">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="nav-item"><a href="#">Camera</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
         </ul>
      </div>
   </header>
<main>{%  block content %}{% endblock content %}</main>